.card {
    flex-basis: calc(100% / 6 - 10px);
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 5px;
}

img {
    height: 100px;
    width: auto;
}

.hand {
    margin-top: 5px;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 115px;
    border: black 2px solid;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.marginBot50 {
    margin-bottom: 50px;
}

.marginBot5 {
    margin-bottom: 5px;
}

.textCenter {
    text-align: center;
}

.hide {
    display: none;
}

.backgroundImage {
    color: yellow;
    background-image: url(https://www.pokertablematerials.com/images/categories/621.jpg);
}

header {
    background-image: url(https://image.flaticon.com/icons/png/128/261/261784.png);
    height: 160px;
    color: yellow;
    background-color: black;
}

.verification {
    margin: auto;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    background-color: white;
    padding-top: 300px;
}

.newGameContainer {
    width: 100%;
}

.deck {
    width: auto;
    border: 1px black solid;
    height: 100px;
    position: fixed;
    top: 25px;
    display: none;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}

.z6 {
    z-index: 6;
}

.left80 {
    left: 80%;
}

.left82 {
    left: calc(80% + 2px);
}

.left84 {
    left: calc(80% + 4px);
}

.left86 {
    left: calc(80% + 6px);
}

.left88 {
    left: calc(80% + 8px);
}

.left90 {
    left: calc(80% + 10px);
}

.margin5 {
    margin: 5px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.justifyCenter {
    justify-content: center;
}

.textWhite {
    color: white;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.width80Percent {
    width: 90%;
}

.playerButton {
    width: 25%;
    height: 40px;
}

@media (min-width: 600px) {
    .hand {
        min-height: 200px;
    }
    img {
        height: 180px;
    }
    .card {
        height: 180px;
        line-height: 180px;
    }
    .draw {
        display: block;
    }
}

@media (min-width: 950px) {
    .hand {
        min-height: 250px;
    }
    img {
        height: 225px;
    }
    .card {
        height: 225px;
        line-height: 225px;
        margin: 10px 5px 10px 5px;
    }
    .playerButton {
        height: 60px;
    }
    .draw {
        display: block;
    }
}